<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        function sortTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("myTable");
            switching = true;
            dir = "desc"; 
            while (switching) {
            switching = false;
            rows = table.rows;
            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                if (dir == "asc") {
                if (Number(x.innerHTML) > Number(y.innerHTML)) {
                    shouldSwitch= true;
                    break;
                }
                } else if (dir == "desc") {
                if (Number(x.innerHTML) < Number(y.innerHTML)) {
                    shouldSwitch = true;
                    break;
                }
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                switchcount ++;      
            } else {
                if (switchcount == 0 && dir == "desc") {
                dir = "asc";
                switching = true;
                }
            }
            }
        }
        function sortWordTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("myTable2");
            switching = true;
            dir = "asc"; 
            while (switching) {
            switching = false;
            rows = table.rows;
            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                if (dir == "asc") 
                {
                    if (/^-?\d*\.?\d+$/.test(x.innerHTML) && /^-?\d*\.?\d+$/.test(y.innerHTML)) 
                    {
                        if (Number(x.innerHTML) > Number(y.innerHTML)) 
                        {
                            shouldSwitch= true;
                            break;
                        }
                    }
                    else
                    {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) 
                        {
                            shouldSwitch= true;
                            break;
                        }
                    }
                } 
                else if (dir == "desc") 
                {
                    if(/^-?\d*\.?\d+$/.test(x.innerHTML) && /^-?\d*\.?\d+$/.test(y.innerHTML))
                    {
                        if (Number(x.innerHTML) < Number(y.innerHTML)) 
                        {
                            shouldSwitch = true;
                            break;
                        }
                    }
                    else
                    {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) 
                        {
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                switchcount ++;      
            } else {
                if (switchcount == 0 && dir == "asc") {
                dir = "desc";
                switching = true;
                }
            }
            }
        }
        function sortQuickTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("myTable1");
            switching = true;
            dir = "asc"; 
            while (switching) {
            switching = false;
            rows = table.rows;
            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                if (dir == "asc") 
                {
                    if (/^-?\d*\.?\d+$/.test(x.innerHTML) && /^-?\d*\.?\d+$/.test(y.innerHTML)) 
                    {
                        if (Number(x.innerHTML) > Number(y.innerHTML)) 
                        {
                            shouldSwitch= true;
                            break;
                        }
                    }
                    else
                    {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) 
                        {
                            shouldSwitch= true;
                            break;
                        }
                    }
                } 
                else if (dir == "desc") 
                {
                    if(/^-?\d*\.?\d+$/.test(x.innerHTML) && /^-?\d*\.?\d+$/.test(y.innerHTML))
                    {
                        if (Number(x.innerHTML) < Number(y.innerHTML)) 
                        {
                            shouldSwitch = true;
                            break;
                        }
                    }
                    else
                    {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) 
                        {
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                switchcount ++;      
            } else {
                if (switchcount == 0 && dir == "asc") {
                dir = "desc";
                switching = true;
                }
            }
            }
        }
    </script>
    {% block head %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>