{% extends 'base.html' %}

{% block head %}
<title>Фiльми</title>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="content">
        <h1>Випадковий фільм</h1>
        <center>
            <div class="card">
                <div class="card-body" style="background-color:rgb(92, 110, 209); color:white;">
                    <h2>{{ movie.next_movie }}</h2>
                </div>
            </div>
            <br>
            <a href="/" class="btn btn-success active btn-lg" role="button" aria-pressed="true">Назад</a>        
        </center>
        </div>
</div>
{% endblock %}